body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ffff;
}

.bodyContainer {
  max-width: 1000px;
  text-align: center;
  padding: 40px 20px;
}
p {
  text-align: justify;
}
li {
  text-align: left;
}
.tableauPlaceholder {
  width: 100%;
}
